.editor {
  /* All 'dem swatches */
  /* Active Line Highlight support */
}
.editor .CodeMirror {
  background-color: #FFFFFF;
  color: #434C5E;
}
.editor .CodeMirror-scroll {
  color: #434C5E;
}
.editor .CodeMirror-gutters {
  background-color: #FFFFFF;
}
.editor .CodeMirror-linenumber {
  color: #929292;
  opacity: 0.6;
}
.editor .CodeMirror-selected {
  background-color: #E5E9F0;
}
.editor .CodeMirror-focused .CodeMirror-selected {
  background-color: #E6E6E6;
}
.editor .CodeMirror-cursor {
  border-left: 1px solid #000000;
}
.editor .CodeMirror-matchingbracket,
.editor .CodeMirror-matchingtag {
  background: #929292 !important;
  border-bottom: 1px solid #95C2FF !important;
}
.editor .CodeMirror-foldgutter-open:after {
  color: #929292;
}
.editor .CodeMirror-foldgutter-folded:after {
  color: #929292;
}
.editor .CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
.editor .CodeMirror-activeline .CodeMirror-foldgutter-open:after {
  color: #929292;
}
.editor .CodeMirror-foldmarker {
  border-color: #929292;
  background-color: #929292;
  color: #434C5E;
}
.editor .CodeMirror .CodeMirror-linewidget img.inline-widget {
  background: rgba(0, 0, 0, 0.05);
}
.editor .CodeMirror-searching {
  background-color: #FFE055;
}
.editor .CodeMirror-searching.searching-current-match {
  background-color: #ECC32C;
}
.editor .CodeMirror .cm-atom,
.editor .CodeMirror .cm-formatting-list.cm-variable-3 {
  color: #ECC32C;
}
.editor .CodeMirror .cm-keyword,
.editor .CodeMirror .cm-formatting-list.cm-variable-2 {
  color: #063FDB;
}
.editor .CodeMirror .cm-url,
.editor .CodeMirror .cm-string,
.editor .CodeMirror .cm-string-2,
.editor .CodeMirror .cm-hr {
  color: #063FDB;
}
.editor .CodeMirror .cm-number,
.editor .CodeMirror .cm-attribute,
.editor .CodeMirror .cm-plus {
  color: #063FDB;
}
.editor .CodeMirror .cm-def,
.editor .CodeMirror .cm-property {
  color: #ECC32C;
}
.editor .CodeMirror .cm-variable {
  color: #063FDB;
}
.editor .CodeMirror .cm-operator,
.editor .CodeMirror .cm-meta,
.editor .CodeMirror .cm-bracket {
  color: #067D17;
}
.editor .CodeMirror .cm-comment {
  color: #E6E6E6;
  font-style: italic;
}
.editor .CodeMirror .cm-error,
.editor .CodeMirror .cm-minus {
  color: #CE0505;
}
.editor .CodeMirror .cm-formatting-header {
  opacity: 0.3;
}
.editor .CodeMirror .cm-header {
  color: #063FDB;
}
.editor .CodeMirror .cm-link {
  color: #067D17;
  text-underline-position: under;
}
.editor .CodeMirror .cm-rangeinfo {
  color: #ECC32C;
}
.editor .CodeMirror .cm-qualifier,
.editor .CodeMirror .cm-builtin,
.editor .CodeMirror .cm-tag {
  color: #95C2FF;
}
.editor .CodeMirror .cm-quote {
  color: #FBACFB;
  font-style: italic;
}
.editor .CodeMirror .cm-whitespace::before {
  color: #E6E6E6;
  opacity: 0.4;
}
.editor .CodeMirror .cm-formatting-quote,
.editor .CodeMirror .cm-formatting-strong,
.editor .CodeMirror .cm-formatting-em {
  opacity: 0.6;
}
.editor .CodeMirror .cm-strong {
  color: #CE0505;
}
.editor .CodeMirror .cm-em {
  color: #ECC32C;
}
.editor .CodeMirror .CodeMirror-code > div > pre > span::after,
.editor .CodeMirror .CodeMirror-line > span::after {
  color: #000000;
  opacity: 0.4;
}
.editor .CodeMirror .cm-inline-code {
  background: rgba(0, 0, 0, 0.02);
  color: #929292;
}
.editor .CodeMirror .gfm-codeblock-bg.CodeMirror-linebackground {
  background: rgba(0, 0, 0, 0.01);
}
.editor .CodeMirror .cm-table-sep,
.editor .CodeMirror .table-row.table-row-1 {
  color: #067D17;
}
.editor .CodeMirror-activeline-background,
.editor .CodeMirror-activeline-gutter {
  background-color: rgba(236, 239, 244, 0.7) !important;
}
